{# CONTACT #}

{% extends "base.html" %}
{% block content %}

<!--- Main page body  --->
<div class="container">
	<div class="jumbotron">
		<h1>Contact Me</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<form action="{{ url_for('thankyou') }}">
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="validationServer01">First name</label>
					<input type="text" class="form-control" id="validationServer01" value="" name="firstname" required>
				</div>
				<div class="col-md-4 mb-3">
					<label for="validationServer02">Last name</label>
					<input type="text" class="form-control" id="validationServer02" value="" name="lastname" required>
				</div>
				<div class="col-md-4 mb-3">
					<label for="validationServer02">Email</label>
					<input type="text" class="form-control" id="validationServer02" value="" required>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Message</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button class="btn btn-primary" type="submit">Contact</button>
		</form>
	</div>
</div>

{% endblock %}